table {
  width: 100%;
}
@media screen and (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
  }
}

@media screen and (min-width: 1200px) {
  .mat-column-id {
    flex: 0 0 10% !important;
    width: 10% !important;
  }
  .mat-column-servicio {
    flex: 0 0 60% !important;
    width: 60% !important;
  }
  .mat-column-nombre {
    flex: 0 0 20% !important;
    width: 20% !important;
  }
}
@media screen and (max-width: 1199px) {
  .mat-column-servicio {
    flex: 0 0 50% !important;
    width: 50% !important;
  }
}
@media screen and (max-width: 960px) {
  .mat-column-servicio {
    flex: 0 0 100% !important;
    width: 100% !important;
  }
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }
  mat-cell:last-of-type,
  mat-header-cell:last-of-type,
  mat-footer-cell:last-of-type {
    padding-right: 0px !important;
  }
  /*  Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;

    height: 30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}

.color .mat-form-field-flex {
  background: red;
}
// mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
//   padding-right: 0px!important;
// }
::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.5em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.3em !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75) !important;
  width: 133.33333% !important;
}
