<div *ngIf="showPage">
  <app-page-heading [title]="setTitle()" [subtitle]="setSubtitle()" [hasImage]="true"></app-page-heading>
  <div class="lg:w-9/12">
    <app-message
      *ngIf="showMessage"
      (messageClose)="closeMessage()"
      [message]="textMessage"
      [messageType]="typeMessage"
    ></app-message>
    <div class="mt-9 p-4 md:p-10 bg-gray-400">
      <form (ngSubmit)="save()" [formGroup]="formGroup" id="form" class="grid">
        <app-select-field
          [id]="'organization_code'"
          [label]="'Institución'"
          [isValid]="!isInValidField('organization_code')"
          [errorText]="'Seleccionar la entidad.'"
          [entities]="entities"
          [group]="'formGroup'"
          formControlName="organization_code"
        ></app-select-field>
        <app-text-field
          [id]="'name'"
          [label]="'Nombre'"
          [isValid]="!isInValidField('name')"
          [errorText]="'Ingresar el nombre.'"
          formControlName="name"
          [maxLength]="'50'"
        ></app-text-field>
        <app-text-field
          [id]="'description'"
          [label]="'Descripción'"
          [isValid]="!isInValidField('description')"
          [errorText]="'Ingresar la descripción.'"
          formControlName="description"
          [maxLength]="'150'"
        ></app-text-field>
        <app-text-field
          [id]="'url'"
          [label]="'URL'"
          [isValid]="!isInValidField('url')"
          [errorText]="'Ingresar una URL válida.'"
          formControlName="url"
          [maxLength]="'150'"
        ></app-text-field>
        <div class="flex mt-4 justify-center md:justify-start">
          <app-button
            class="mr-2"
            [typeButton]="'secondary'"
            [className]="'full-w py-2 px-6 min-w-4 max-w-12 font-bold text-base md:px-12'"
            [text]="'Cancelar'"
            [disabled]="isLoading"
            (click)="cancel()"
          ></app-button>
          <app-button
            class="ml-2"
            [typeButton]="'primary'"
            [className]="'full-w py-2 px-6 min-w-4 max-w-12 font-bold text-base md:px-12'"
            [text]="'Guardar'"
            [disabled]="formGroup.pristine || formGroup.invalid || isLoading"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
