<div class="grid grid-cols-1 md:grid-cols-2 divide-x mt-8 md:mt-14 showMessageClass">
  <div class="text-center md:text-left">
    <h1 class="text-4xl text-gray-900 mb-2 mt-0">{{ title }}</h1>
    <p *ngIf="subtitle" class="text-base mb-4 md:my-0">{{ subtitle }}</p>
  </div>
  <div *ngIf="hasImage" class="text-center md:text-right">
    <img
      class="mt-8 mb-2 md:mt-2 md:mr-4 w-138px h-49px"
      src="../../../../assets/images/idgobpe.svg"
      alt="IDGobpe-icon"
    />
  </div>
</div>
