<div class="mb-6 relative">
  <label *ngIf="label" [for]="id" class="block font-bold mb-1 min-w-100px"> {{ label }} </label>
  <mat-form-field class="w-full">
    <mat-select [id]="id" (selectionChange)="onInput($event.value)">
      <mat-option [value]="null">Seleccionar</mat-option>
      <mat-option *ngFor="let item of entities" [value]="item.code">{{ item.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-error *ngIf="!isValid"> {{ errorText }} </mat-error>
</div>
