html {
  font-family: sans-serif;
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0);
  scrollbar-width: 3px;
  background-color: #f1f5f9;
}

html,
body,
.contenido {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
  font-size: 16px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 8px;
}

::-webkit-scrollbar-button:increment,
::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.titulo_tarjetas {
  font-size: 1.3em;
  color: #6c757d;
  font-weight: 400;
}
.mb10 {
  margin-bottom: 20px;
}
.mt10 {
  margin-top: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

.pdg-20 {
  padding: 20px;
}

.pdg-10 {
  padding: 10px;
}

.pdg-5 {
  padding: 5px;
}

.logo img {
  height: 100px;
}

.l.title {
  padding: 15px 0px;
  font-size: 25px;
  font-weight: 500;
}

.l.description {
  padding: 0px 0px 30px 0px;
  font-size: 13px;
}
/*# sourceMappingURL=styles.css.map */
