table {
  width: 100%;
}
.mat-form-field-label {
  top: 0.84375em !important;
  margin-top: -0.25em !important;
  background-color: red;
}

@media screen and (min-width: 1025px) {
  .mat-column-num {
    flex: 0 0 4% !important;
    width: 4% !important;
  }
  .mat-column-nombre {
    flex: 0 0 65% !important;
    width: 65% !important;
  }
  .mat-column-fecha {
    flex: 0 0 15% !important;
    width: 15% !important;
  }
  .mat-column-opciones {
    flex: 0 0 12% !important;
    width: 12% !important;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) and (min-width: 961px) {
  .mat-column-num {
    flex: 0 0 4% !important;
    width: 4% !important;
  }
  .mat-column-nombre {
    flex: 0 0 60% !important;
    width: 60% !important;
  }
  .mat-column-fecha {
    flex: 0 0 20% !important;
    width: 20% !important;
  }
  .mat-column-opciones {
    flex: 0 0 15% !important;
    width: 15% !important;
    justify-content: center;
  }
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
  }

  .mat-table caption {
    font-size: 1em;
  }

  /*  Enable this to hide header
  .mat-table .mat-header-cell {

    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block !important;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;

    height: 30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}

.color .mat-form-field-flex {
  background: red;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-right: 0px !important;
}
