<form [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
  <div class="content-input-search">
    <input
      class="input-search"
      formControlName="filter"
      autocomplete="off"
      placeholder="Buscar"
      [readOnly]="isLoading"
      [attr.aria-label]="label"
      [placeholder]="placeholder"
    />
    <button
      class="search-btn border-none text-white p-1 text-xl align-middle h-8 min-w-0 w-10 m-2 hover:bg-blue-900"
      type="submit"
      [disabled]="isLoading"
      aria-label="Buscar"
    >
      <mat-icon class="transform scale-1/3" *ngIf="!isLoading">search</mat-icon>
      <mat-icon *ngIf="isLoading" class="fa-spin">autorenew</mat-icon>
    </button>
  </div>
</form>
