<div class="h-full flex flex-col min-h-screen bg-white">
  <app-header class="bg-red-700"></app-header>
  <breadcrumb #parent class="w-full bg-gray-400">
    <div class="text-blue-700 font-bold text-base leading-6 container mx-auto flex-1">
      <div class="px-0 pl-5 lg:pl-20">
        <span class="breadcrumb" *ngFor="let route of parent.breadcrumbs">
          <a mat-button *ngIf="!route.terminal" href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
          <img
            *ngIf="!route.terminal"
            class="filter invert transform scale-4/5 -rotate-90 align-bottom p-6px mx-2"
            src="../../../../assets/icons/chevron.svg"
            alt=""
          />
          <a mat-button *ngIf="route.terminal" class="text-gray-900">{{ route.displayName }}</a>
        </span>
      </div>
    </div>
  </breadcrumb>
  <div class="container mx-auto bg-white flex-1">
    <div class="px-5 lg:px-20">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer class="mt-20"></app-footer>
</div>
