.img-fluid {
  max-width: 100%;
  height: auto;
}

.table-app {
  @apply table w-full border-separate;

  thead th {
    @apply py-2 text-left;
  }

  tbody td {
    @apply py-6 text-left;
  }

  td {
    border-bottom: 1px solid #cacfd3;
  }
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.5em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.3em !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75) !important;
  width: 133.33333% !important;
}

@media (min-width: 767px) {
  .dnone {
    display: none;
  }
}
