<div *ngIf="showPage">
  <app-page-heading
    [title]="'Editar aplicación'"
    [hasImage]="true"
    [subtitle]="'Completa los campos para editar la aplicación.'"
  ></app-page-heading>
  <div class="flex flex-col md:flex-row justify-center mt-6">
    <div *ngIf="!isAppLoading" class="md:w-1/3 flex flex-col">
      <div class="mb-4 text-center md:text-left">
        <p class="text-gray-500 text-sm font-normal mb-1 mt-0">Client ID</p>
        <p class="text-black text-base font-bold my-0">{{ ApplicationItem.client_id }}</p>
      </div>
      <div class="mb-4 text-center md:text-left">
        <p class="text-gray-500 text-sm font-normal mb-1 mt-0">Nombre</p>
        <p class="text-black text-base font-bold my-0">{{ ApplicationItem.name }}</p>
      </div>
      <div class="mb-4 text-center md:text-left">
        <p class="text-gray-500 text-sm font-normal mb-1 mt-0">Descripción</p>
        <p class="text-black text-base font-bold my-0">{{ ApplicationItem.description }}</p>
      </div>
      <div class="mb-4 text-center md:text-left">
        <p class="text-gray-500 text-sm font-normal mb-1 mt-0">URL</p>
        <p class="text-black text-base font-bold my-0">{{ ApplicationItem.url }}</p>
      </div>
    </div>
    <div class="md:w-2/3 flex flex-col">
      <app-message
        *ngIf="showMessage"
        (messageClose)="closeMessage()"
        [message]="textMessage"
        [messageType]="typeMessage"
      ></app-message>
      <form [formGroup]="formGroup">
        <div class="mb-5 p-9 bg-gray-100">
          <h3 class="text-xl my-0">Servicios</h3>
          <p class="text-gray-900 text-base my-2.5">Activa los servicios que quieras habilitar para esta aplicación.</p>
          <ng-container *ngIf="ServiceList?.length > 0 && !isServiceLoading && !isAppLoading">
            <table class="table-app">
              <thead>
                <tr>
                  <th>Servicios</th>
                  <th class="text-right">Habilitar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of ServiceList">
                  <td class="">{{ service.value }}</td>
                  <td class="text-right">
                    <app-toggle
                      [disabled]="isLoading"
                      (changeToggle)="toggleChange($event, service)"
                      [checked]="service.enabled"
                      [hasEventEmitter]="true"
                    ></app-toggle>
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-container>
        </div>
        <div *ngIf="!isAppLoading" class="mb-5 p-9 bg-gray-100">
          <div class="flex justify-between items-center">
            <h3 class="text-xl my-0">Proteger aplicación</h3>
            <mat-slide-toggle
              [disabled]="isLoading"
              (change)="changeEditable($event)"
              formControlName="editable"
              [color]="'primary'"
              class=""
            ></mat-slide-toggle>
          </div>

          <p class="text-gray-900 text-base my-2.5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
            dolor sit amet lacus accumsan et viverra justo commodo.
          </p>
        </div>
        <div *ngIf="!isAppLoading" class="mb-5 p-9 bg-gray-100">
          <h3 class="text-xl my-0">Deshabilitar aplicación</h3>
          <p class="text-gray-900 text-base mt-2.5 mb-6">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida
            dolor sit amet lacus accumsan et viverra justo commodo.
          </p>
          <app-button
            [disabled]="isLoading"
            class="flex"
            [typeButton]="'secondary'"
            [text]="enabledButtonText"
            [hasIconLoader]="isLoading"
            [className]="'px-4 py-1 text-sm'"
            (click)="changeEnabled()"
          >
          </app-button>
        </div>
        <div *ngIf="!isAppLoading" class="mb-5 p-9 bg-gray-100">
          <h3 class="text-xl my-0">Eliminar aplicación</h3>
          <p class="text-gray-900 text-base mt-2.5 mb-6">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam placeat quo, aut possimus autem error
            suscipit sit accusantium temporibus alias sed animi illo, soluta maiores nesciunt vero quae. Dolorum,
            magnam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam placeat quo, aut possimus autem error
            suscipit sit accusantium temporibus alias sed animi illo, soluta maiores nesciunt vero quae. Dolorum,
            magnam.
          </p>
          <app-button
            [disabled]="isLoading"
            class="flex"
            [typeButton]="'secondary'"
            [text]="'Eliminar'"
            [hasIconLoader]="isLoading"
            [className]="'px-4 py-1 text-sm'"
            (click)="delete()"
          >
          </app-button>
        </div>
      </form>
    </div>
  </div>
</div>
