<app-resources-tab></app-resources-tab>
<div *ngIf="showPage">
  <div class="flex justify-between sm:flex-row flex-col">
    <div class="sm:max-w-xs w-full showMessageClass">
      <h1 class="text-4xl">Versiones</h1>
    </div>
    <app-button
      class="self-center sm:mt-0 mt-4"
      [routerLink]="['/institution/general/services', code, 'versions', 'new']"
      [typeButton]="'primary'"
      [text]="'Nueva versión'"
      [hasIcon]="true"
      [icon]="'add'"
      [className]="'py-3 px-10 text-base'"
    ></app-button>
  </div>
  <app-message
    *ngIf="showMessage"
    (messageClose)="closeMessage()"
    [message]="textMessage"
    [messageType]="typeMessage"
  ></app-message>
  <ng-container *ngIf="!isTableLoading; else listLoading">
    <div *ngIf="dataSource?.Items?.length > 0; else noDataSource" class="overflow-x-scroll md:overflow-x-hidden">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th>Versiones</th>
            <th>Código</th>
            <th>Fecha de creación</th>
            <th class="text-center">Habilitada</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of dataSource?.Items
                | paginate: { itemsPerPage: count, currentPage: page, totalItems: dataSource?.recordsTotal };
              let i = index
            "
          >
            <td class="text-center">{{ getRowNumber(i) }}</td>
            <td>{{ item.version_number }}</td>
            <td>{{ item.version_code }}</td>
            <td>{{ item.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td class="text-center">
              <app-toggle
                [id]="item._id"
                [disabled]="isLoading"
                (changeToggle)="toggleChange($event, item)"
                [checked]="item.enabled"
                [hasEventEmitter]="true"
              ></app-toggle>
            </td>
            <td class="text-center">
              <app-icon-button [icon]="'mode_edit'" [className]="'text-blue-700'" (click)="edit(item)">
              </app-icon-button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [currentPage]="page"
          [totalItems]="count"
          (pageChange)="pageEvent($event)"
        ></pagination-controls>
      </div>
    </div>
    <ng-template #noDataSource>
      <div *ngIf="!isTableLoading" class="text-center">No se encontraron resultados</div>
    </ng-template>
  </ng-container>
  <ng-template #listLoading>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="spinner" *ngIf="isLoading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </ng-template>
</div>
