::ng-deep .mat-slide-toggle-thumb {
  width: 16px !important;
  height: 16px !important;
  transform: translate(23%, 25%);
}

::ng-deep .mat-slide-toggle-bar {
  background-color: #6f777b;
  border-radius: 19px !important;
  height: 20px !important;
  width: 39px;
}

::ng-deep .mat-slide-toggle-thumb-container {
  top: -2px !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #0056ac;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #fff;
}
