.content-input-search {
  @apply flex w-full border-2 border-gray-900 border-solid justify-between bg-white min-h-3 sm:max-w-xs;
}

.content-input {
  @apply flex flex-wrap min-h-3;
}

.input-search {
  @apply w-full rounded-none p-4 border-none;
}

.input {
  @apply border-2 border-gray-900 shadow py-2 px-4 rounded-none w-full bg-white;
}

input.input:focus,
input.input-search:focus {
  @apply outline-none;
}

.content-input-search:focus-within {
  .search-btn {
    @apply bg-blue-700;
  }
}

.search-btn:default {
  @apply bg-black;
}
