<div class="mb-6 relative">
  <label *ngIf="label" [for]="id" class="block font-bold mb-2 min-w-100px"> {{ label }} </label>
  <div
    [ngClass]="{
      'content-input-search': hasIconSearch,
      'content-input': !hasIconSearch,
      disabled: hasIconSearch && contentIsDisabled
    }"
  >
    <input
      someDir
      [id]="id"
      (keydown.enter)="inputKeyDownEnter.emit($event)"
      (input)="onInput($event.target.value)"
      [ngClass]="{
        'input-search': hasIconSearch,
        input: !hasIconSearch
      }"
      autocomplete="off"
      [value]="value"
      [disabled]="isDisabled"
      [maxLength]="maxLength"
      [placeholder]="placeHolder"
    />
    <button
      *ngIf="hasIconSearch"
      class="search-btn border-none text-white p-1 text-xl align-middle h-8 min-w-0 w-10 m-2"
      [disabled]="btnIsDisabled"
      (click)="inputKeyDownEnter.emit($event)"
    >
      <mat-icon class="transform scale-2/3" *ngIf="!isLoading">search</mat-icon>
      <mat-icon *ngIf="isLoading" class="fa-spin">autorenew</mat-icon>
    </button>
  </div>
  <mat-error *ngIf="!isValid"> {{ errorText }} </mat-error>
</div>
