body {
  background: #262626;
}

body {
  background-color: #ebebeb;
  font-family: 'Roboto', sans-serif;
}

.spinner {
  width: 70px;
  height: 70px;
  background: #d4d4d4;
  border-radius: 50%;
  position: relative;
  margin: 40px;
  display: inline-block;
}

.spinner:after,
.spinner:before {
  content: '';
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.spinner__1::after {
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #cf000b;
  border-bottom-color: #cf000b;
  top: -4px;
  left: -4px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.spinner__1::before {
  position: absolute;
  top: 17px;
  left: 17px;
  height: 35px;
  width: 35px;
  background-color: #cf000b;
  -webkit-animation: shrink 3s ease infinite;
  animation: shrink 3s ease infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.4);
    transform: rotate(180deg) scale(1.4);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1.4);
    transform: rotate(180deg) scale(1.4);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes shrink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes shrink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.6);
    transform: scale(1.6);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

.clip-home {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 80% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 0%, 80% 100%, 0 100%);
  position: relative;
}

.img-fluid {
  max-width: 100% !important;
  height: auto;
}

.w-50 {
  width: 50% !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3 {
  margin-left: 1rem;
}

.logofixed {
  position: absolute;
  bottom: 0px;
  z-index: 999999;
  right: 0;
  text-align: end;
  padding: 20px;
  cursor: auto;
}

.w-100 {
  width: 100% !important;
}

.bg_white {
  background: #edf0f4;
}

.position_a {
  position: absolute;
  z-index: 9999;
  margin-top: 1rem;
}

.cgris {
  color: #3a3a3a;
  padding-left: 7px !important;
}

.button_primary {
  background: #076725;
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 11px 0px 11px 0px;
  font-weight: 700;
}

.button_secondary {
  background: #d8d8d8;
  color: black;
  border: 0;
  border-radius: 5px;
  padding: 11px 0px 11px 0px;
  font-weight: 700;
  color: #6f777b;
}

.logofixed {
  position: absolute;
  bottom: 0px;
  z-index: 999999;
  right: 0;
  text-align: end;
}

.logofixed .imgfixedrojo {
  width: 27%;
  padding: 20px;
}

.imgfixedblanco {
  display: none;
}

.background1-left-column {
  background: #e3e0cf;
  border: none;
}

.hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hover {
  border: 3px white solid;
  border-radius: 10px;
}

.hover:hover {
  background: #26323838;
  border-radius: 10px;
}

.hover .right-column .icono {
  font-size: 55px;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.hover:hover .right-column .icono {
  opacity: 1;
}

.card2 {
  background-color: var(--white-text);
  border-radius: 1rem;
  -webkit-box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  overflow: hidden;
  width: 30rem;
  height: 10rem;
}

.card2 h2 {
  letter-spacing: 0.1rem;
  font-size: 24px;
  color: var(black-text);
}

.left-column {
  color: var(--white-text);
  padding: 0.8rem;
  max-width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.left-column h2 {
  color: var(--white-text);
}

.left-column i {
  font-size: 5rem;
}

.right-column {
  padding: 6px;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.card {
  border-radius: 4px;
  background: #fff;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: -1px 80px 18px 36px;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
}

.card:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.card h3 {
  font-weight: 600;
  color: black;
}

.card img {
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1 {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60px;
}

@media (max-width: 990px) {
  .card {
    margin: 20px;
  }
}

.texto {
  margin-left: 5px !important;
  font-size: 30px !important;
  color: #252121 !important;
}

body {
  font-family: 'Roboto', sans-serif;
}

.contenedor {
  height: 100%;
  padding: 5% 0;
}

.container_foto {
  background-color: rgba(57, 62, 93, 0.7);
  padding: 0;
  overflow: hidden;
  max-width: 350px;
  margin: 5px;
}

.container_foto article {
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container_foto h2 {
  color: #fff;
  font-weight: 800;
  font-size: 16px;
}

.container_foto .fondo {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.ver_mas {
  background-color: #b21c0e;
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ver_mas span {
  font-size: 40px;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 13px;
}

/*hovers*/
.container_foto:hover {
  cursor: pointer;
}

.container_foto:hover .fondo {
  opacity: 0.1;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.container_foto:hover article {
  -webkit-transform: translatey(-30px);
  transform: translatey(-30px);
}

.img-fluid {
  max-width: 100% !important;
  height: auto;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

.home .home-section {
  min-height: 100vh;
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
  /* background: url(../imagenes/76.png);*/
  background: #cf000b;
  background-repeat: no-repeat;
  background-size: cover;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

.home .home-inner {
  max-width: 600px;
  width: 100%;
  text-align: center;
  background: #e0e0e000;
}

.home .bg-img {
  top: 0;
  bottom: 0;
  opacity: 1;
  width: 100%;
  z-index: 999;
  min-height: 496px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 50px;
}

.home .home-section .extra-login {
  float: left;
  width: 100%;
  margin: 25px 0 25px;
  text-align: center;
  position: relative;
}

.home .home-section .extra-login::before {
  position: absolute;
  left: 0;
  top: 25px;
  width: 100%;
  height: 1px;
  background: #d86058;
  content: '';
}

.home .home-section .extra-login > span {
  width: auto;
  float: none;
  display: inline-block;
  padding: 8px 20px;
  z-index: 1;
  position: relative;

  font-size: 30px;
  color: #000;
  font-weight: 600;
  background: #ffffff;
  border-radius: 10px;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.home .home-section h3 {
  margin: 0 0 0px;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}

.home .logo img {
  height: 90px;
}

.home .clip-home {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 80% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 0%, 80% 100%, 0 100%);
  position: relative;
}

.home .info {
  position: absolute;
  z-index: 20;
  max-width: 550px;
  width: 400px;
  left: -20px;
}

@media (max-width: 1200px) {
  .home .info {
    left: -100px;
  }
}

@media (max-width: 1024px) {
  .pd1rem {
    padding: 0.5rem;
  }
  .home .info {
    left: 0px;
  }
  .home .clip-home {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 93% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 0%, 93% 100%, 0 100%);
    position: relative;
  }
  .home .home-inner {
    max-width: 563px;
  }
}

@media (max-width: 992px) {
  .bg_rojo {
    background: rgba(255, 0, 0, 0);
  }
}

@media (max-width: 992px) {
  .home .clip-home {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 0%, 100% 100%, 0 100%);
    position: relative;
  }
  .home .home-section {
    width: 100%;
  }
  .home .bg-img {
    min-height: 100%;
    border-radius: 5px;
  }
  .none-992 {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .footer_datos {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .mt-md-6 {
    margin-top: 6rem !important;
  }
  .position_a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .imgfixedrojo {
    display: none;
  }
  .imgfixedblanco {
    display: initial;
  }
  .logofixed {
    display: none;
  }
  .home .home-inner {
    margin: 0 15px;
  }
  .right-column h2 {
    font-size: 1.5rem;
  }
  .w-50 {
    width: 75% !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 450px) {
  .margintop {
    margin-bottom: 75px !important;
  }
  .logofixed {
    bottom: -107px !important;
  }
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

/** MEDIA **/
h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

/** MEDIA **/
@media (max-width: 992px) {
  .none-992 {
    display: none;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 992px) {
  .none-992 {
    display: none !important;
  }
}

h2,
h3,
.h2,
.h3 {
  font-family: 'Roboto', sans-serif;
}
/*# sourceMappingURL=inicio.component.css.map */
