<div class="h-full flex flex-col min-h-screen">
  <app-header class="bg-red-700 showMessageClass"></app-header>
  <section class="bg-white flex-1">
    <div class="grid grid-cols-1 md:grid-cols-2 w-full h-full">
      <div class="hidden md:flex items-center">
        <div class="mx-auto">
          <div class="text-center w-full">
            <img src="../../../../../assets/images/idgobpe.svg" alt="IDGobpe-icon" />
          </div>
          <div class="mt-4 text-center w-full">
            <img class="mt-4" src="../../../../../assets/images/insertdni.svg" alt="DNI-icon" />
          </div>
        </div>
      </div>
      <div class="flex bg-gray-400 items-center">
        <div class="px-4 mx-auto sm:w-440px">
          <div class="flex text-center w-full md:hidden">
            <img class="mx-auto my-4" src="../../../../../assets/images/idgobpe.svg" alt="IDGobpe-icon" />
          </div>
          <div class="mx-6 my-3 xs:m-2">
            <app-message
              *ngIf="showMessage"
              (messageClose)="closeMessage()"
              [message]="textMessage"
              [messageType]="typeMessage"
            ></app-message>
            <h2 class="text-xl font-black text-gray-900 mt-0 mb-1">ID Gob.pe para desarrolladores</h2>
            <p class="text-base text-gray-900 mt-2">
              Gestiona los desarrolladores y las aplicaciones de tu institución conectadas a ID Gob.pe
            </p>
            <p class="text-base font-bold text-gray-900 mt-4">Selecciona una opción para ingresar</p>
            <div class="mt-4 text-center">
              <div class="bg-white shadow-cont-btn-login p-6 mt-4 rounded-lg hover:shadow-cont-btn-login-hover">
                <p class="text-base font-bold text-blue-700 mt-0 mb-4">DNI electrónico</p>
                <app-button
                  (click)="initWithAcrCertificateDnie()"
                  [typeButton]="'primary'"
                  [text]="'Ingresar'"
                  [className]="'w-full px-5 py-1.5 text-base'"
                ></app-button>
              </div>
              <div class="bg-white shadow-cont-btn-login p-6 mt-4 rounded-lg hover:shadow-cont-btn-login-hover">
                <p class="text-base font-bold text-blue-700 mt-0 mb-4">Certificado digital de persona jurídica</p>
                <app-button
                  (click)="initWithAcrCertificateToken()"
                  [typeButton]="'primary'"
                  [text]="'Ingresar'"
                  [className]="'w-full px-5 py-1.5 text-base'"
                ></app-button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
