<mat-toolbar class="text-white bg-red-700 h-18 container mx-auto px-0 lg:px-20 pl-5">
  <div class="container mx-auto flex items-center">
    <div class="pt-2"><img src="../../../../../assets/images/escudo_text.svg" alt="escudo-text-icon" /></div>
    <div class="mx-4 border border-white border-solid h-4"></div>
    <span class="leading-6 border-l border-white text-white hidden text-sm md:inline">{{ title }}</span>
  </div>
  <div *ngIf="hasLogin()" class="flex justify-right">
    <div
      id="menuTrigger"
      class="text-center lg:cursor-pointer pr-1 items-center md:pr-2 flex w-full"
      [matMenuTriggerFor]="menu"
    >
      <div
        class="
          flex
          items-center
          justify-center
          bg-white
          rounded
          inline-block
          w-4
          h-6
          p-2
          px-3
          mr-4
          text-red-700
          font-bold
          text-base
        "
      >
        {{ sigla }}
      </div>
      <div class="flex flex-col hidden sm:inline mr-2">
        <div class="text-white font-black text-sm mr-6">{{ fullName }}</div>
        <div class="text-xs text-left border-none">{{ role }}</div>
      </div>
      <span class="inline pt-2 chevron"
        ><img class="" src="../../../../assets/icons/chevron.svg" alt="chevron-icon"
      /></span>
    </div>
    <mat-menu #menu="matMenu" class="bg-gray-900">
      <div class="menu-content">
        <div class="dropdown-title"></div>
        <button class="text-center text-white hover:bg-gray-50" mat-menu-item (click)="logout()">
          <mat-icon class="text-white mr5">logout</mat-icon>
          <span>Cerrar sesión</span>
        </button>
      </div>
    </mat-menu>
  </div>
</mat-toolbar>
