<div class="px-3">
  <h3 class="text-2xl leading-6 text-gray-900">Deshabilitar servicio</h3>
  <p *ngIf="serviceDescription" class="text-gray-900 text-base leading-6 font-normal mb-4">
    {{ serviceDescription }}
  </p>
  <app-button
    [typeButton]="'secondary'"
    [className]="'full-w button-containedSizeLarge min-w-4 max-w-18'"
    [text]="'Deshabilitar servicio'"
    (click)="disableApp()"
  ></app-button>
</div>
