<app-resources-tab></app-resources-tab>
<div *ngIf="showPage">
  <app-page-heading [title]="'Instituciones'"></app-page-heading>
  <app-message
    *ngIf="showMessage"
    (messageClose)="closeMessage()"
    [message]="textMessage"
    [messageType]="typeMessage"
  ></app-message>
  <div class="flex justify-between sm:flex-row flex-col mt-4">
    <div class="sm:max-w-xs w-full">
      <app-search-form
        [isLoading]="isLoading"
        (onSubmit)="buscar($event)"
        placeholder="Buscar instituciones"
      ></app-search-form>
    </div>
    <app-button
      class="flex sm:mt-0 mt-4"
      [routerLink]="'/institution/general/institutions/new'"
      [typeButton]="'primary'"
      [text]="'Nueva institución'"
      [hasIcon]="true"
      [icon]="'add'"
      [className]="'py-2.5 px-9 text-base'"
    >
    </app-button>
  </div>
  <hr class="my-9 border-gray-200 border-t-0" />
  <ng-container *ngIf="!isLoading; else listLoading">
    <h2 class="text-2xl">{{ dataSource?.recordsTotal }} resultados</h2>
    <div *ngIf="dataSource?.Items?.length > 0; else noDataSource" class="overflow-x-scroll md:overflow-x-hidden">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">N°</th>
            <th>RUC</th>
            <th>Nombre</th>
            <th>Fecha de creación</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of dataSource?.Items
                | paginate: { itemsPerPage: count, currentPage: page, totalItems: dataSource?.recordsTotal };
              let i = index
            "
          >
            <td class="text-center">{{ getRowNumber(i) }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>
              <app-icon-button [icon]="'mode_edit'" [className]="'text-blue-700'" (click)="edit(item)">
              </app-icon-button>
              <app-icon-button [icon]="'visibility'" [className]="'text-blue-700'" (click)="editProjectManager(item)">
              </app-icon-button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [currentPage]="page"
          [totalItems]="count"
          (pageChange)="pageEvent($event)"
        ></pagination-controls>
      </div>
    </div>
    <ng-template #noDataSource>
      <div *ngIf="!isLoading" class="text-center">No se encontraron resultados</div>
    </ng-template>
  </ng-container>
  <ng-template #listLoading>
    <div fxLayout="row" fxLayoutAlign="center center">
      <!-- <mat-spinner [color]="'primary'" [mode]="'indeterminate'" diameter="60"></mat-spinner> -->

      <div class="spinner" *ngIf="isLoading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </ng-template>
</div>
