<div class="">
  <h3 class="text-2xl leading-6 text-gray-900">Habilitar servicio</h3>
  <p *ngIf="serviceDescription" class="text-gray-900 text-base leading-6 font-normal mb-4">
    {{ serviceDescription }}
  </p>
  <app-button
    [typeButton]="'primary'"
    [className]="'full-w button-containedSizeLarge min-w-4 max-w-18 px-2'"
    [text]="'Habilitar servicio'"
    (click)="enableApp()"
  ></app-button>
</div>
