<footer class="w-full bg-gray-900">
  <section class="m-auto p-6 text-center">
    <a
      class="footer__link text-white hover:text-white"
      href="https://www.gob.pe/institucion/pcm/informes-publicaciones/698037-politica-de-privacidad-de-gob-pe"
      >Política de privacidad para el manejo de datos en Gob.pe</a
    >
  </section>
</footer>
