table {
  width: 100%;
}
@media screen and (max-width: 760px) {
  table {
    display: block;
    overflow-x: auto;
  }
}

@media only screen and (max-width: 1950px) and (min-width: 1600px) {
  .mat-column-correo {
    flex: 0 0 28% !important;
    width: 28% !important;
  }
  .mat-column-celular {
    flex: 0 0 6% !important;
    width: 6% !important;
  }
  .mat-column-fecha {
    flex: 0 0 12% !important;
    width: 12% !important;
  }
  .mat-column-opciones {
    flex: 0 0 6% !important;
    width: 6% !important;
    justify-content: flex-end;
  }
  .mat-column-id {
    flex: 0 0 4% !important;
    width: 4% !important;
  }
  .mat-column-dni {
    flex: 0 0 8% !important;
    width: 8% !important;
  }
  .mat-column-apellidos {
    flex: 0 0 20% !important;
    width: 20% !important;
  }
  .mat-column-nombre {
    flex: 0 0 14% !important;
    width: 14% !important;
  }
  .mat-column-num {
    flex: 0 0 2% !important;
    width: 2% !important;
  }
}

@media only screen and (max-width: 1599px) and (min-width: 961px) {
  .mat-column-id {
    flex: 0 0 4% !important;
    width: 4% !important;
  }
  .mat-column-dni {
    flex: 0 0 8% !important;
    width: 8% !important;
  }
  .mat-column-nombre {
    flex: 0 0 14% !important;
    width: 14% !important;
  }
  .mat-column-apellidos {
    flex: 0 0 20% !important;
    width: 20% !important;
  }
  .mat-column-correo {
    flex: 0 0 28% !important;
    width: 28% !important;
  }
  .mat-column-celular {
    flex: 0 0 9% !important;
    width: 9% !important;
  }
  .mat-column-fecha {
    flex: 0 0 9% !important;
    width: 9% !important;
  }
  .mat-column-opciones {
    flex: 0 0 10% !important;
    width: 10% !important;
    justify-content: center;
  }
  .mat-column-num {
    flex: 0 0 2% !important;
    width: 2% !important;
  }
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle;
    width: 100%;
  }

  .mat-table caption {
    font-size: 1em;
  }
  mat-row,
  mat-header-row,
  mat-footer-row {
    display: flex;
    border-width: 0;
    border-bottom-width: 3px;
  }
  mat-cell:last-of-type,
  mat-header-cell:last-of-type,
  mat-footer-cell:last-of-type {
    padding-right: 0px !important;
  }
  /*  Enable this to hide header*/
  .mat-table .mat-header-cell {
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 100%;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block !important;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;

    height: 30px;
    margin-bottom: 4%;
    width: 100% !important;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: 0.85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}

.color .mat-form-field-flex {
  background: red;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix {
  padding: 0.5em 0px !important;
}
::ng-deep .mat-form-field-label-wrapper {
  top: -1.3em !important;
}

::ng-deep
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  transform: translateY(-1.1em) scale(0.75) !important;
  width: 133.33333% !important;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type,
mat-footer-cell:last-of-type {
  padding-left: 0px !important;
}
// mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
//   padding-left: 24px;
// }

mat-cell:first-of-type,
mat-header-cell:first-of-type,
mat-footer-cell:first-of-type {
  padding-left: 0px !important;
}
