<div *ngIf="showPage">
  <app-page-heading [title]="setTitle()" [subtitle]="setSubtitle()" [hasImage]="true"></app-page-heading>
  <div class="lg:w-9/12">
    <app-message
      *ngIf="showMessage"
      (messageClose)="closeMessage()"
      [message]="textMessage"
      [messageType]="typeMessage"
    ></app-message>
    <div class="mt-9 p-4 md:p-10 bg-gray-400">
      <form (ngSubmit)="save()" [formGroup]="formGroup" id="form" class="grid">
        <app-text-field
          [id]="'code'"
          [label]="'RUC'"
          formControlName="code"
          appBasico="integer"
          [maxLength]="'11'"
          [isValid]="!isInValidField('code') && !isInValidField('token')"
          [errorText]="'Ingresar RUC válido.'"
          [hasIconSearch]="true"
          [contentIsDisabled]="isEditForm"
          [btnIsDisabled]="isLoading || isInValidField('code') || formGroup.get('code').pristine"
          [isLoading]="isLoading"
          (inputKeyDownEnter)="!isInValidField('code') && formGroup.get('code').dirty && orgSearch()"
        >
        </app-text-field>
        <app-text-field [id]="'name'" [label]="'Nombre'" formControlName="name" [maxLength]="'100'"> </app-text-field>
        <app-text-field
          [id]="'acronym'"
          [label]="'Acrónimo'"
          formControlName="acronym"
          [maxLength]="'100'"
          [isValid]="!isInValidField('acronym')"
          [errorText]="'Ingresar acrónimo.'"
        ></app-text-field>
        <div class="w-full mb-6">
          <fieldset class="p-4 border-gray-300 border-solid">
            <div class="w-full" formArrayName="domains">
              <div class="w-full" *ngFor="let item of domainFormArray.controls; let i = index" [formGroupName]="i">
                <fieldset class="my-4 p-4 border-gray-300 border-solid">
                  <app-text-field
                    [id]="setDomainId(i)"
                    [label]="setUrlLabel(i)"
                    [isValid]="!showError(item)"
                    [errorText]="getErrorMessage(item, 'domain')"
                    formControlName="domain"
                    [maxLength]="'200'"
                  ></app-text-field>
                  <app-button
                    *ngIf="i >= 1"
                    class="mx-auto"
                    [typeButton]="'secondary'"
                    [className]="
                      'full-w button-containedSizeLarge min-w-4 max-w-15 border-none bg-transparent pl-0 hover:underline'
                    "
                    [text]="'Eliminar'"
                    (click)="removeDomain('domains', i)"
                  ></app-button>
                </fieldset>
              </div>
            </div>
            <app-button
              class="mx-auto mt-4"
              [type]="'button'"
              (click)="addDomain()"
              [typeButton]="'secondary'"
              [className]="'full-w button-containedSizeLarge min-w-4 max-w-15'"
              [text]="'Agregar dominio'"
              [disabled]="isDisabledButton"
              [ngClass]="{ disabled: isDisabledButton }"
            ></app-button>
          </fieldset>
        </div>
        <div class="w-full" formArrayName="services">
          <table class="table-services">
            <thead>
              <tr>
                <th>Servicios</th>
                <th class="text-right">Habilitar</th>
                <th class="text-right">Bloquear</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let serviceControl of getServiceArrayForm.controls; let i = index" [formGroupName]="i">
                <td class="">{{ serviceControl.value.value }}</td>
                <td class="text-right">
                  <app-toggle
                    [disabled]="isLoading"
                    formControlName="enabled"
                    [checked]="serviceControl.value.enabled"
                    [hasEventEmitter]="false"
                  ></app-toggle>
                </td>
                <td class="text-right">
                  <app-toggle
                    [disabled]="isLoading"
                    formControlName="blocked"
                    [checked]="serviceControl.value.blocked"
                    [hasEventEmitter]="false"
                  ></app-toggle>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="flex mt-4">
          <app-button
            class="mr-2"
            [typeButton]="'secondary'"
            [className]="'full-w button-containedSizeLarge min-w-4 max-w-12'"
            [text]="'Cancelar'"
            [disabled]="isLoading"
            (click)="cancel()"
          ></app-button>
          <app-button
            class="mx-2"
            [typeButton]="'primary'"
            [className]="'full-w button-containedSizeLarge min-w-4 max-w-12'"
            [text]="'Guardar'"
            [disabled]="formGroup.pristine || formGroup.invalid || isLoading"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
