.mat-tab-label-active {
  @apply bg-white rounded-md shadow-active-menu z-20 border-b-0 my-1 mx-5/4;
}

.mat-tab-link {
  @apply my-1;
}

::ng-deep .mat-ink-bar {
  background-color: transparent !important;
}
