<div *ngIf="showTabs" class="md:flex my-6">
  <div class="w-full text-center md:w-4/5">
    <nav
      mat-tab-nav-bar
      class="bg-blue-100 rounded z-10 max-w-max border-b-0"
      [defaultTabIndex]="0"
      (selectedTabChange)="onTabChanged($event)"
    >
      <a
        mat-tab-link
        *ngFor="let item of dataNavigation"
        class="text-gray-900 opacity-100"
        (click)="activeLink = item.link"
        [active]="activeLink == item.link"
        [routerLink]="item.link"
      >
        {{ item.title }}
      </a>
    </nav>
  </div>
  <div class="w-full text-center md:w-1/5 md:text-right">
    <img
      class="mt-8 mb-2 md:mt-2 md:mr-4 w-138px h-49px"
      src="../../../../assets/images/idgobpe.svg"
      alt="IDGobpe-icon"
    />
  </div>
</div>
