<h2 class="text-xl font-bold text-gray-900 my-0">{{ title }}</h2>
<div class="my-8 bg-gray-200 h-1px mx-auto md:-mx-0"></div>
<form [formGroup]="formGroup" class="">
  <mat-dialog-content class="mat-typography">
    <h3 class="text-base font-bold text-gray-900 my-0 mt-0 mb-2">{{ question }}</h3>
    <h3 class="text-base text-gray-900">
      {{ confirmQuestion }}:
      <p class="text-xl font-bold text-gray-900 uppercase mt-2 mb-4">{{ fieldData }}</p>
    </h3>
    <div class="mt-2">
      <app-text-field
        [id]="'fieldData'"
        [label]="field"
        [isValid]="!isInValidField('fieldData')"
        [errorText]="'Campo requerido'"
        [maxLength]="'200'"
        formControlName="fieldData"
      >
      </app-text-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="text-center grid grid-cols-1 gap-2">
    <app-button
      class="mx-auto"
      [typeButton]="'primary'"
      [className]="'full-w button-containedSizeLarge min-w-4 max-w-15'"
      [text]="confirmBtnText"
      [disabled]="disabled"
      [ngClass]="{ disabled: disabled }"
      (click)="confirm()"
      cdkFocusInitial
    ></app-button>
    <app-button
      class="mx-auto mb-0.5"
      [typeButton]="'tertiary'"
      [className]="'full-w button-containedSizeLarge min-w-4 max-w-15'"
      [text]="'Cancelar'"
      mat-dialog-close
    ></app-button>
  </mat-dialog-actions>
</form>
