<div *ngIf="showPage">
  <app-page-heading [title]="setTitle()"></app-page-heading>
  <div class="lg:w-9/12">
    <app-message
      *ngIf="showMessage"
      (messageClose)="closeMessage()"
      [message]="textMessage"
      [messageType]="typeMessage"
    ></app-message>
    <div class="mt-9 p-4 md:p-10 bg-gray-400">
      <form (ngSubmit)="save()" [formGroup]="formGroup" id="form" class="grid">
        <app-text-field
          [id]="'version_number'"
          [label]="'Nombre'"
          [isValid]="!isInValidField('version_number')"
          [errorText]="getError('version_number')"
          formControlName="version_number"
          [maxLength]="'20'"
        ></app-text-field>
        <div class="flex mt-4 justify-center md:justify-start">
          <app-button
            class="mr-2"
            [typeButton]="'secondary'"
            [className]="'full-w  py-2 px-6 min-w-4 max-w-12 font-bold text-base md:px-12'"
            [text]="'Cancelar'"
            [disabled]="isLoading"
            (click)="cancel()"
          ></app-button>
          <app-button
            class="ml-2"
            [typeButton]="'primary'"
            [className]="'full-w py-2 px-6 min-w-4 max-w-12 font-bold text-base md:px-12'"
            [text]="'Guardar'"
            [disabled]="formGroup.pristine || formGroup.invalid || isLoading"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
