<div *ngIf="showPage">
  <app-page-heading [title]="setTitle()" [subtitle]="setSubtitle()" [hasImage]="true"></app-page-heading>
  <div class="lg:w-9/12">
    <app-message
      *ngIf="showMessage"
      (messageClose)="closeMessage()"
      [message]="textMessage"
      [messageType]="typeMessage"
    ></app-message>
    <div class="mt-9 p-4 md:p-10 bg-gray-400">
      <form (ngSubmit)="save()" [formGroup]="formGroup" id="form" class="grid">
        <app-text-field
          [id]="'filter'"
          [label]="'DNI'"
          formControlName="filter"
          appBasico="integer"
          [maxLength]="'8'"
          [isValid]="!isInValidField('filter') && !isInValidField('token')"
          [errorText]="getError('filter')"
          [hasIconSearch]="true"
          [contentIsDisabled]="isEditForm"
          [btnIsDisabled]="isLoading || isInValidField('filter') || formGroup.get('filter').pristine"
          [isLoading]="isLoading"
          (inputKeyDownEnter)="!isInValidField('filter') && formGroup.get('filter').dirty && buscar()"
        >
        </app-text-field>
        <app-text-field [id]="'name'" [label]="'Nombre'" formControlName="name" [maxLength]="'100'"> </app-text-field>
        <app-text-field
          [id]="'lastName'"
          [label]="'Apellidos'"
          formControlName="lastName"
          [maxLength]="'100'"
        ></app-text-field>
        <app-text-field
          [id]="'email'"
          [label]="'Correo electrónico'"
          [isValid]="!isInValidField('email')"
          [errorText]="getError('email')"
          formControlName="email"
          [maxLength]="'100'"
        ></app-text-field>
        <app-text-field
          [id]="'phone'"
          [label]="'Celular'"
          [isValid]="!isInValidField('phone')"
          [errorText]="getError('phone')"
          formControlName="phone"
          appBasico="integer"
          [maxLength]="'9'"
        ></app-text-field>
        <app-text-field
          [id]="'position'"
          [label]="'Cargo'"
          [isValid]="!isInValidField('position')"
          [errorText]="getError('position')"
          formControlName="position"
          [maxLength]="'100'"
        ></app-text-field>
        <div class="flex mt-4 justify-center md:justify-start">
          <app-button
            class="mr-2"
            [typeButton]="'secondary'"
            [className]="'full-w  py-2 px-6 min-w-4 max-w-12 font-bold text-base md:px-12'"
            [text]="'Cancelar'"
            [disabled]="isLoading"
            (click)="cancel()"
          ></app-button>
          <app-button
            class="ml-2"
            [typeButton]="'primary'"
            [className]="'full-w py-2 px-6 min-w-4 max-w-12 font-bold text-base md:px-12'"
            [text]="'Guardar'"
            [disabled]="formGroup.pristine || formGroup.invalid || isLoading"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</div>
