<div *ngIf="showPage && !isLoading">
  <app-page-heading
    [title]="'Detalle de una aplicación'"
    [subtitle]="'Completa los campos para modificar la aplicación.'"
  ></app-page-heading>
  <div class="text-center md:flex md:text-left mt-6">
    <div class="md:w-1/3">
      <h3 class="text-2xl leading-6 text-gray-900">Información de la entidad</h3>
      <div [formGroup]="orgInfoForm">
        <div class="grid mb-4 overflow-x-scroll">
          <mat-label class="text-gray-500 text-base leading-6 font-normal mt-1">RUC</mat-label>
          <input
            formControlName="code"
            matInput
            class="
              bg-transparent
              text-gray-900 text-base
              leading-6
              font-bold
              mb-1
              border-none
              opacity-100
              text-center
              md:text-left
            "
          />
        </div>
        <div class="grid mb-4 overflow-x-scroll">
          <mat-label class="text-gray-500 text-base leading-6 font-normal mt-1">Nombre</mat-label>
          <p class="mb-1 mt-0 font-bold">{{ dataInstitution['name'] }}</p>
        </div>
        <div class="grid mb-4 overflow-x-scroll">
          <div class="w-full" formArrayName="domains">
            <div
              class="grid mb-4 overflow-x-scroll"
              *ngFor="let item of domains?.controls; let i = index"
              [formGroupName]="i"
            >
              <mat-label class="text-gray-500 text-base leading-6 font-normal mt-1"
                >Dominio autorizado <span *ngIf="domains?.controls.length > 1">{{ i + 1 }}</span></mat-label
              >
              <input
                [formControl]="item"
                matInput
                class="
                  bg-transparent
                  text-gray-900 text-base
                  leading-6
                  font-bold
                  mb-1
                  border-none
                  opacity-100
                  text-center
                  md:text-left
                "
              />
            </div>
          </div>
        </div>
      </div>
      <div class="mt-6 mb-8 bg-gray-450 w-4/5 h-1px mx-auto md:-mx-0"></div>
      <h3 class="text-2xl leading-6 text-gray-900">Información del desarrollador</h3>
      <div [formGroup]="devInfoForm">
        <div class="grid mb-4 overflow-x-scroll">
          <mat-label class="text-gray-500 text-base leading-6 font-normal mt-1">Fecha de creación</mat-label>
          <input
            formControlName="created_at"
            matInput
            class="
              bg-transparent
              text-gray-900 text-base
              leading-6
              font-bold
              mb-1
              border-none
              opacity-100
              text-center
              md:text-left
            "
          />
        </div>
        <div class="grid mb-4 overflow-x-scroll">
          <mat-label class="text-gray-500 text-base leading-6 font-normal mt-1">DNI</mat-label>
          <input
            formControlName="doc"
            matInput
            class="
              bg-transparent
              text-gray-900 text-base
              leading-6
              font-bold
              mb-1
              border-none
              opacity-100
              text-center
              md:text-left
            "
          />
        </div>
        <div class="grid mb-4 overflow-x-scroll">
          <mat-label class="text-gray-500 text-base leading-6 font-normal mt-1">Nombres</mat-label>
          <input
            formControlName="names"
            matInput
            class="
              bg-transparent
              text-gray-900 text-base
              leading-6
              font-bold
              mb-1
              border-none
              opacity-100
              text-center
              md:text-left
            "
          />
        </div>
        <div class="grid mb-4 overflow-x-scroll">
          <mat-label class="text-gray-500 text-base leading-6 font-normal mt-1">Apellidos</mat-label>
          <input
            formControlName="lastname"
            matInput
            class="
              bg-transparent
              text-gray-900 text-base
              leading-6
              font-bold
              mb-1
              border-none
              opacity-100
              text-center
              md:text-left
            "
          />
        </div>
      </div>
    </div>
    <div class="p-0 md:w-2/3 md:p-6">
      <app-message
        *ngIf="showMessage"
        (messageClose)="closeMessage()"
        [message]="textMessage"
        [messageType]="typeMessage"
      ></app-message>
      <div class="bg-gray-100 md:p-9 p-4 mb-6">
        <h3 class="text-2xl leading-6 text-gray-900 mt-0">Información de la aplicación</h3>
        <form (ngSubmit)="save()" [formGroup]="appInfoForm" id="form" class="grid">
          <div class="w-full mb-6">
            <div class="flex flex-col items-center md:items-start mb-4 overflow-x-scroll">
              <mat-label for="client_id" class="text-gray-900 text-base leading-6 font-bold my-1">Cliente ID</mat-label>
              <p
                class="
                  px-3
                  py-1
                  bg-gray-460
                  text-gray-900 text-base
                  leading-6
                  font-normal
                  mb-1
                  border-none
                  opacity-100
                  max-w-xs
                "
              >
                {{ dataApp['client_id'] }}
              </p>
            </div>
            <app-text-field
              [id]="'name'"
              [label]="'Nombre'"
              [isValid]="!hasError('name')"
              [errorText]="getErrorMessage('name')"
              formControlName="name"
              [maxLength]="'200'"
              [disabled]="!enabled"
            ></app-text-field>
            <app-text-field
              [id]="'description'"
              [label]="'Descripción'"
              [isValid]="!hasError('description')"
              [errorText]="getErrorMessage('description')"
              formControlName="description"
              [maxLength]="'200'"
              [disabled]="!enabled"
            ></app-text-field>
            <app-text-field
              [id]="'url'"
              [label]="'URL'"
              [isValid]="!hasError('url')"
              [errorText]="getErrorMessage('url')"
              formControlName="url"
              [maxLength]="'200'"
              [disabled]="!enabled"
            ></app-text-field>
          </div>
          <app-button
            class="mx-2"
            [typeButton]="'primary'"
            [className]="'button-containedSizeLarge min-w-4 max-w-18 px-12 md:px-24'"
            [text]="'Guardar'"
            [disabled]="appInfoForm.pristine || appInfoForm.invalid || isLoading || !enabled"
          ></app-button>
        </form>
      </div>
      <div class="bg-gray-100 p-9">
        <h3 class="text-2xl leading-6 text-gray-900 my-0">Servicios</h3>
        <p class="text-gray-900 text-base leading-6 font-normal">
          Selecciona un servicio para ver su configuración y credenciales.
        </p>
        <div *ngFor="let item of services">
          <div class="md:flex p-7.5 bg-white mt-8">
            <div class="text-center md:text-left p-0">
              <h3 class="text-base leading-6 text-gray-900 my-0">{{ capitalize(getTranslate(item)) }}</h3>
              <p class="text-gray-900 text-base leading-6 font-normal mt-2 mb-0">
                Activa los servicios que quieras habilitar para esta aplicación.
              </p>
            </div>
            <div class="text-center md:text-right md:flex-1 md:self-center">
              <app-button
                *ngIf="getLinkService(item)"
                [routerLink]="['/application/list/detail', id, getLinkService(item)]"
                [typeButton]="'secondary'"
                [text]="'Ingresar'"
                [className]="'full-w button-containedSizeLarge min-w-4 max-w-15 px-3 py-1'"
              ></app-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
