<app-resources-tab></app-resources-tab>
<div *ngIf="showPage">
  <app-page-heading [title]="setTitle()"></app-page-heading>
  <app-message
    *ngIf="showMessage"
    (messageClose)="closeMessage()"
    [message]="textMessage"
    [messageType]="typeMessage"
  ></app-message>
  <div class="flex justify-between sm:flex-row flex-col">
    <div class="sm:max-w-xs w-full">
      <app-search-form
        [isLoading]="isLoading"
        (onSubmit)="buscar($event)"
        placeholder="Buscar instituciones"
      ></app-search-form>
    </div>
    <app-button
      class="flex sm:mt-0 mt-4"
      [typeButton]="'primary'"
      [className]="'full-w button-containedSizeLarge min-w-4 max-w-18'"
      [text]="'Nuevo jefe de proyecto'"
      (click)="newProjectManager()"
      [disabled]="isLoading"
      [hasIcon]="true"
      [icon]="'add'"
    ></app-button>
  </div>
  <hr class="my-9 border-gray-200 border-t-0" />
  <div *ngIf="!isLoading; else listLoading">
    <h3 class="text-xl text-gray-900">{{ dataSource?.recordsTotal }} resultados</h3>
    <div *ngIf="dataSource?.Items?.length > 0; else noDataSource" class="overflow-x-scroll md:overflow-x-hidden">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo electrónico</th>
            <th>Celular</th>
            <th>Fecha de creación</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of dataSource?.Items
                | paginate: { itemsPerPage: count, currentPage: page, totalItems: dataSource?.recordsTotal };
              let i = index
            "
          >
            <td class="text-center">{{ getRowNumber(i) }}</td>
            <td>{{ item.names }}</td>
            <td>{{ item.lastname_1 }} {{ item.lastname_2 }} {{ item.lastname_3 }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.created_at | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td>
              <app-icon-button [icon]="'mode_edit'" [className]="'text-blue-700'" (click)="edit(item)">
              </app-icon-button>
              <app-icon-button [icon]="'delete'" [className]="'text-gray-500'" (click)="delete(item)">
              </app-icon-button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          [currentPage]="page"
          [totalItems]="count"
          (pageChange)="pageEvent($event)"
        ></pagination-controls>
      </div>
    </div>
    <ng-template #noDataSource>
      <div *ngIf="!isLoading" class="text-center">No se encontraron resultados</div>
    </ng-template>
  </div>
  <ng-template #listLoading>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div class="spinner" *ngIf="isLoading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
  </ng-template>

  <div class="flex flex-col justify-between mt-6 sm:flex-row"></div>
</div>
