<app-resources-tab></app-resources-tab>
<div *ngIf="showPage">
  <div>
    <div fxFlex="100%" fxFlex.xs="100%">
      <div class="spinner" *ngIf="isLoading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <h1>Servicios</h1>
      <ng-container *ngIf="dataSource?.length > 0; else noDataSource">
        <table class="table mb-72">
          <thead>
            <tr>
              <th class="text-center">N°</th>
              <th>Servicio</th>
              <th class="text-center">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataSource">
              <td class="text-center">{{ item.order }}</td>
              <td>{{ item.value }}</td>
              <td class="text-center">
                <app-icon-button [icon]="'mode_edit'" [className]="'text-blue-700'" (click)="edit(item)">
                </app-icon-button>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <ng-template #noDataSource>
        <div *ngIf="!isLoading" class="text-center">No se encontraron resultados</div>
      </ng-template>

      <!-- <table *ngIf="!isLoading" mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="position">
                  <th fxFlex="12%" fxFlex.xs="50px" mat-header-cell *matHeaderCellDef
                      fxLayoutAlign="start center">N°</th>
                  <td fxFlex="12%" fxFlex.xs="50px" mat-cell *matCellDef="let element"
                      fxLayoutAlign="start center">{{element.order}}</td>
              </ng-container>
              <ng-container matColumnDef="servicio">
                  <th fxFlex="70%" fxFlex.xs="55%" mat-header-cell *matHeaderCellDef fxLayoutAlign="start center">Servicio
                  </th>
                  <td fxFlex="70%" fxFlex.xs="55%" mat-cell *matCellDef="let element" fxLayoutAlign="start center">
                      {{element.value}}</td>
              </ng-container>

              <ng-container matColumnDef="event">
                  <th style="margin-left: -15px;" mat-header-cell *matHeaderCellDef fxFlex
                      fxLayoutAlign="center center">Opciones</th>
                  <td style="margin-right: 16px;" mat-cell *matCellDef="let element" fxFlex
                      fxLayoutAlign="center center">
                      <button type="button" (click)="edit(element)" mat-button color="primary">
                          <mat-icon>mode_edit</mat-icon>
                      </button>
                  </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> -->
    </div>
  </div>
</div>
