<div class="p-3">
  <form [formGroup]="credentialForm">
    <h3 class="text-2xl leading-6 text-gray-900">Credenciales</h3>
    <div class="grid mb-4 overflow-x-scroll">
      <mat-label class="text-gray-900 text-base leading-6 font-bold mt-1">Cliente ID</mat-label>
      <input
        formControlName="client_id"
        matInput
        class="text-gray-900 text-base leading-6 font-normal mb-1 border-none"
      />
    </div>
    <div class="grid mb-4 overflow-x-scroll">
      <mat-label class="text-gray-900 text-base leading-6 font-bold mt-1">Cliente secret</mat-label>
      <input
        formControlName="client_secret"
        matInput
        class="text-gray-900 text-base leading-6 font-normal mb-1 border-none"
      />
    </div>
    <app-button
      class="text-left mt-4"
      [type]="'button'"
      (click)="generateDownloadJsonUri()"
      [typeButton]="'secondary'"
      [className]="'full-w button-containedSizeLarge min-w-4 max-w-15'"
      [text]="'Descargar configuración'"
    ></app-button>
  </form>
</div>
