<mat-card class="p-6 mx-4 bg-white shadow-lg rounded">
  <mat-card-title *ngIf="title">
    <p class="text-lg text-blue-700 text-bold mt-0">{{ title }}</p>
  </mat-card-title>
  <mat-card-subtitle *ngIf="subtitle">
    <h4>{{ subtitle }}</h4>
  </mat-card-subtitle>
  <mat-card-content>
    <ng-container appBodyOutlet></ng-container>
  </mat-card-content>
</mat-card>
