.flash {
  @apply border border-solid px-4 py-3 rounded my-4;
}

.error-message {
  @apply bg-red-100 border-red-700 text-red-700;
}
.success-message {
  @apply bg-green-100 border-green-600 text-green-500;
}
