<div
  class="flex justify-between items-center flash"
  [ngClass]="{
    'error-message': messageType == 'error',
    'success-message': messageType == 'success'
  }"
>
  <p class="m-0">{{ message }}</p>
  <app-icon-button
    [icon]="'close'"
    [className]="messageType == 'error' ? 'text-red-700' : 'text-green-500'"
    [classNameMatIcon]="'text-base font-bold'"
    (click)="messageClose.emit($event)"
  >
  </app-icon-button>
</div>
