<div *ngIf="showPage">
  <ng-container *ngIf="enabled; else titleNoEnabled">
    <app-page-heading
      [title]="'Validación de firma'"
      [subtitle]="'Configura la validación de firma de tu servicio'"
    ></app-page-heading>
  </ng-container>
  <app-message
    *ngIf="showMessage"
    (messageClose)="closeMessage()"
    [message]="textMessage"
    [messageType]="typeMessage"
  ></app-message>
  <div class="text-center md:flex md:text-left mt-6">
    <ng-container *ngIf="enabled; else noEnabled">
      <div class="p-4 md:p-6 md:w-2/3 bg-gray-100">
        <h3 class="text-2xl leading-6 text-gray-900">Configuración</h3>
        <form (ngSubmit)="save()" [formGroup]="configForm" id="form" class="grid">
          <div class="w-full mb-6">
            <fieldset class="p-4 border-gray-300 border-solid">
              <div class="w-full" formArrayName="_macs">
                <div class="w-full" *ngFor="let item of getformArray('_macs'); let i = index" [formGroupName]="i">
                  <fieldset class="my-4 p-4 border-gray-300 border-solid">
                    <app-text-field
                      [id]="setMacId('mac', i)"
                      [label]="setMacLabel('servidores autorizados', i)"
                      [isValid]="!showError(item)"
                      [errorText]="getErrorMessage(item, 'mac')"
                      formControlName="mac"
                      [maxLength]="'200'"
                    ></app-text-field>
                    <app-button
                      *ngIf="i >= 1"
                      class="mx-auto"
                      [typeButton]="'secondary'"
                      [className]="
                        'full-w button-containedSizeLarge min-w-4 max-w-15 border-none bg-transparent pl-0 hover:underline'
                      "
                      [text]="'Eliminar'"
                      (click)="removeMac('_macs', i)"
                    ></app-button>
                  </fieldset>
                </div>
              </div>
              <app-button
                class="mx-auto mt-4"
                [type]="'button'"
                (click)="addMac('_macs')"
                [typeButton]="'secondary'"
                [className]="'full-w button-containedSizeLarge min-w-4 max-w-15'"
                [text]="'Agregar MAC'"
              ></app-button>
            </fieldset>
          </div>
          <app-button
            class="mx-2"
            [typeButton]="'primary'"
            [className]="'button-containedSizeLarge min-w-4 max-w-18 px-12 md:px-24'"
            [text]="'Guardar'"
            [disabled]="configForm.pristine || configForm.invalid || isLoading"
          ></app-button>
        </form>
      </div>
      <div class="p-4 md:w-1/3">
        <app-credential-panel [currentService]="currentService"></app-credential-panel>
        <app-new-credential-panel [serviceId]="currentService?._id" (newCredentialEvent)="newCredentialEvent($event)">
        </app-new-credential-panel>
        <div class="my-6 mx-4 bg-gray-460 w-full h-2px"></div>
        <app-disable-service
          [serviceName]="'sign_validation'"
          [serviceId]="currentService?._id"
          [serviceDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'"
          (disableEvent)="disableEvent($event)"
        ></app-disable-service>
      </div>
    </ng-container>
    <ng-template #titleNoEnabled>
      <app-page-heading [title]="'Validación de firma'"></app-page-heading>
    </ng-template>
    <ng-template #noEnabled>
      <app-enable-service
        [appId]="this.currentApp?._id"
        [serviceName]="'sign_validation'"
        [serviceDescription]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'"
        (enableEvent)="enableEvent($event)"
      ></app-enable-service>
    </ng-template>
  </div>
</div>
