.btn-primary {
  @apply font-bold rounded border-2 border-transparent border-solid text-white bg-blue-700;
}
.btn-secondary {
  @apply font-bold rounded border-2 border-blue-700 border-solid text-blue-700 bg-white;
}
.btn-tertiary {
  @apply font-bold border-none text-blue-700 bg-transparent cursor-pointer outline-none hover:underline;
}
