<button
  [type]="type"
  [disabled]="disabled"
  mat-flat-button
  [ngClass]="{
    'btn-primary': typeButton == 'primary',
    'btn-secondary': typeButton == 'secondary',
    'btn-tertiary': typeButton == 'tertiary'
  }"
  [className]="className"
>
  <mat-icon *ngIf="hasIconLoader" class="fa-spin">autorenew</mat-icon>
  <mat-icon *ngIf="hasIcon" class="m-1">{{ icon }}</mat-icon>
  <div class="m-1">{{ text }}</div>
</button>
