<div *ngIf="showPage" class="p-0">
  <app-page-heading [title]="'Datos Generales'" [hasImage]="true"></app-page-heading>

  <div class="text-center md:flex md:text-left justify-center mt-6">
    <div *ngIf="!isLoading && data" class="p-4 md:w-1/3">
      <div class="my-4">
        <p class="text-gray-500 text-sm font-normal mb-1">RUC</p>
        <p class="text-black text-base font-bold mt-1">{{ data.data.organization.code }}</p>
      </div>
      <div class="my-4">
        <p class="text-gray-500 text-sm font-normal mb-1">Nombre</p>
        <p class="text-black text-base font-bold mt-1">{{ data.data.organization.name }}</p>
      </div>
      <div class="my-4">
        <p class="text-gray-500 text-sm font-normal mb-1">Total de apps registradas</p>
        <p class="text-black text-base font-bold mt-1">{{ data.data.countApp }}</p>
      </div>
      <div class="my-4">
        <p class="text-gray-500 text-sm font-normal mb-1">Total de desarrolladores</p>
        <p class="text-black text-base font-bold mt-1">{{ data.data.countDev }}</p>
      </div>
    </div>
    <div class="p-5 md:w-2/3 bg-gray-100 grid grid-cols-1 md:grid-cols-2 divide-x">
      <app-card *ngFor="let item of dataNavigation" [title]="item.title" class="my-4">
        <ng-container *appBody>
          <p class="text-gray-600">
            {{ item.hint }}
          </p>
          <app-button
            class="flex mt-4"
            [routerLink]="item.link"
            [typeButton]="'secondary'"
            [className]="'p-3'"
            [text]="'Ver y editar'"
          ></app-button>
        </ng-container>
      </app-card>
    </div>
  </div>
</div>
